header{
	height: 100px;
	width: 100%;
	background-color: rgba(202, 66, 90, 0.5) !important;
	background-size: cover;
}

nav{
	background-color: transparent;
	height: 100px;
}

nav ul li a{
	padding-top: 30px;
	padding-bottom: 20px;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: gray;
}

nav ul li a.glow:hover{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	/*border-radius: 30px;*/
	background-color: rgba(255, 89, 128, 0.4);
}

nav ul li.rounded-active.active{
	border-radius: 30px;
	background-color: grey;
}

nav ul li.active {
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px; 
}

nav ul li.geserkanan {
	margin-right: 30px !important; 
}

ul#dropdown1{
	margin-left:0px !important;
}

ul#dropdown2{
	margin-left:0px !important;
}

.background{
	height: 650px !important;
	/*float: left;*/
	background: url("gambar/3tri.jpg");
	background-size: cover; 
	width: 100%;	
}

.custom-logo{
background-image: url("gambar/logosanggar.png");
width: 70px;
height: 80px;
background-size: cover;
margin-left: 20px;
margin-top: 10px;
margin-bottom: 20px;
}

.tulisanlogo{
	float: left;
	padding-left: 120px;
	padding-top: 15px;
	color: gray;
	font-family: 'Sacramento', cursive;
	font-size: 50px !important;
}

.kotak{
	padding: 50px;
	padding-top: 10px;
	margin-top: 250px !important;
	margin-bottom: 250px !important; 
	width: 900px;
	height: 60px;
	background-color: transparent;
}

.kotak h5{
	padding: 30px !important;
	background-color: rgba(255, 89, 128, 0.4);
	margin-top: 190px !important;
	font-size: 70px;
	/*width: 900px;
	height: 60px;*/
	font-family: 'Satisfy';
}

/*HALAMAN JOIN */

.kotakputih{
	margin-top: 50px;
	/*width: 700px;
	height: 800px;*/
	width: auto;
	height: auto;
	border-radius: 10px;
	/*background-color: rgba(132, 129, 129, 0.1);*/
	background-color: white;
	
}

.kotak-join{
	padding-top: 10px;
	margin-top: 10px;
	border-radius: 10px;
	width: 800px;
	height: 120px;
	background-color: rgba(255, 89, 128, 0.4);
}

.kotak-join h5{
	padding-top: 10px;
	font-size: 25px;
	font-family: 'Montserrat';
}

.background2{
	background-color: rgba(132, 129, 129, 0.1);
	background-size: cover;
	height: 1300px;
}
/*HALAMAN LOGIN*/

.login{
	margin-top: 0px;
	padding-top: 30px;
	height: 425px;
	background-color: rgba(255, 89, 128, 0.4);
}



.login-custom::-webkit-input-placeholder{
	color: white;
}

/*HALAMAN PROFIL*/

.tulisan{
	padding: 20px !important;
	padding-left: 20px;
	font-size: 15px;
	font-family: 'Montserrat';
}

/*HALAMAN SCHEDULE*/

.tabel table{
	margin: 20px;
	width: 650px;
}

/*HALAMAN EVENT*/

.judulevent{
	/*padding: 20px !important;*/
	margin-left: 55px !important;
	font-size: 15px;
	font-family: 'Montserrat';
}

.deskripsi{
	padding: 20px !important;
	padding-left: 20px;
	font-size: 10px;
	font-family: 'Montserrat';
}